@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#front-page{
    border: 1px solid black;
    margin-left: 200px;
}

#mainpage {
    display: flex;

    width: 350px;
}

.logos {
    display: flex;
    gap: 300px;

}

#emblem,
#logo {
    width: 60px;
    height: 35px;
}

#hedings {}

#heading1 {
    padding-bottom: 0%;
    padding-top: 0%;
    gap: 0px;
    background-color: orangered;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;



}

#heading2 {
    text-align: center;
    background-color: green;
    padding-bottom: 0%;
    padding-top: 0%;
    gap: 0px;
}

.a {
    margin: 0;
    padding: 0;
    font-size-adjust: 0.4;
}

.b {
    font-size-adjust: 0.3;
    margin-bottom: 5px;

}

p {
    margin: 0;
    padding: 0;
    font-size-adjust: 0.27;
}

#bodytext {
    margin-top: 5px;
    margin-left: 70px;


}

#signature_verification_container{
    height: 50px;
    width: 80px;
    position: relative;
    margin-left: 60px;
    margin-top: -60px;
    
}
#questionmark {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 120px;
    color: rgb(243, 243, 49);
    text-shadow: 2px 2px 0px black;
    z-index: 1;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#questionmarktext{
    width: 100%;
    z-index:2;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 12px;
}
#sig_verified{
    font-weight: bold;
    font-size: 14px;
    /* margin-bottom: 12px; */
}
#aadharqr{
    width: 110px;
    height: 110px;
}
#midsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.flogos{
    display: flex;
    gap: 125px;
    border-top: 2px dotted black;
    margin-top: 15px;

}
#femblem,#flogo{
    width: 40px;
    height: 25px;
}
#myselfphoto{
    width: 60px;
    height: 70px;
    border: 2px solid black;
    margin-right: 20px;
    ;

}
#footersection{
    display: flex;
    margin-top: 10px;
    margin-left: 24px;
    
    
}
#footertext{
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    font-size: 14px;
}
.blogos{
    display: flex;
    gap:300px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;

}
#bemblem,#blogo{
    width: 60px;
    height: 35px;
}
#backmatter{
    margin-top: 10px;
    font-size: 8px;
    font-weight: bold;
}
.hg{
    color: red;
    font-weight: bold;
}
#back-page{
    margin-left: 20px;
    border: 1px solid black;
    width: %;
}
.bflogos{
    display: flex;
    gap: 90px;
    border-top: 2px dotted black;
    margin-top: 15px;
    
}
#bflogo,#bfemblem{
    width: 40px;
    height: 25px;
}
ul li{
    list-style-type: square;
    
}

ul li::marker{
    color: red;
    font-size: 2em;
}