*{
    padding: 0;
    margin: 0;
}
.headers{
    display: flex;
    background-color: orange;
    width: 100%;
    gap: 300px;
    padding: 10px;
    
}
.collegelogo{
    width: 50px;

}
.home,.about,.gallery{
    text-decoration: none;
    margin-top:20PX ;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20;
    font-weight: bolder;
}
.title{
    background-image: url("collegeimg.jpg");
    width: 60%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
.collegetitle{
    font-size: 50;
    font-weight: bold;
}
.collegelocation{
    font-size: 25;
    font-weight: bold;
}
.aboutusbody{
    width: 30%;
    word-spacing: 5px;
    margin-right: 50px;
    margin-left: 50px;
}
.mainheader2{
    display: flex;
    width: 100%;
    height: 100%;
}
.coursesdiv{
    margin-top: -50px;
}
.first_line_branch,.second_line_branch{
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}
.branch_card{
    display: flex;
    border: 2px solid black;
    margin-left: 20px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out; 

}
.branch_logo{
    width: 200px;
    margin-left: -30px;
}
.branch_title{
    font-weight: bold;
    margin-top: 70px;
    margin-right: 50px;
    font-size: 25;
    margin-left: -20px;
}
.branch_card:hover{
    background-color: rgb(248, 222, 173);
    border: 2px solid orange;

}

.footer{
    background-color: orange;
    text-align: center;
    font-weight: bold;
    padding: 10px;

}