*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headers{
    display: flex;
    background-color: orange;
    width: 100%;
    gap: 300px;
    padding: 10px;
    
}
.collegelogo{
    width: 50px;

}
.home,.about,.gallery{
    text-decoration: none;
    margin-top:20PX ;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20;
    font-weight: bolder;
}
.gallery{
    margin-left: 50px;
}

.classrooms{
    display: flex;
    gap: 70px;
    width: 100%;
}
.classblock{
    width: 250px;
    height: 125px;
    border: 2px solid black;
    transition: .3s all ease-out; 
    border-radius: 10px;
}
.classblock:hover{
    border: 2px solid orange;
    transform: scale(1.1);

}
.footer{
    background-color: orange;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;

}