body{
    background-color: gray;
}
h1{
    font-size: 10;
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 10;

}
.btn{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
}